.card
  .card-body
    %p
      %b
        = comment.user.email
        = comment.created_at
      %br

      = comment.comentario

    - if current_user.id == comment.user_id
      = link_to 'Eliminar Comentario', [comment.event, comment], method: :delete, data: { confirm: 'Are you sure?' }
%br
