= form_for([@event, @event.comments.build]) do |f|
  .form-group
    = f.text_area :comentario, :class => "form-control"
  = f.hidden_field :user_id, :value => current_user.id

  = f.submit 'Enviar', :class => "btn btn-primary float-right"
