.row
  .col-sm-12
    %p
      %h4
        Editando evento
        %br
        %small.text-muted
          = @event.titulo + " - " + @event.shop.titulo

%hr


= render 'form', event: @event
= link_to 'Show', @event
|
= link_to 'Back', events_path
